*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    color: #fff;

}
html,body{
  height: 100%;
  width: 100%;

}
#main{
  height: 100%;
  width: 1005;
  background-color: #000;

}

#nav{
  font-family:sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
 
}


#nav #nav-part2{
  display: flex;
  align-items: center;
  gap: 30px;
}
#nav h3{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
}

#main h1{
  /* background-color: aquamarine; */
  font-family: "monument";
  width: 70%;
  margin-left: 20%;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 75px;
  font-weight: 100;
  position: relative;
  z-index: 9;
  /* background-color: red; */
  /* margin-top: 30px; */
}
#main h1:nth-child(2){
  font-size: 50px;
  margin-top: 140px;
}


img{

  border-radius: 5px;
  width: 200px;
  height: 270px;
  position: absolute;
  top: 20%;
  left: 55%;

}
#img1{
  rotate: 20deg;
}
#img2 {
  rotate: 10deg;
}

#bottom{
  border-top: 1.5px solid rgb(255, 255, 255);
  border-bottom: 1.5px solid rgb(255, 255, 255);
  margin-top: 90px;
  height: 30px;
  width: 100%;
  /* background-color: aqua; */
  font-family: sans-serif;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
#bottom::-webkit-scrollbar{
  display: none;
}
#bottom h3{
  opacity: 0.6;
  padding-left: 40px;
  display: inline-block;
  font-style: italic;
  font-size: 12px;
  animation-name: scroll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 45px));
  }
}